body{
    background: white !important;
    font-family: Manjari;
}
nav{
    background: white;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
}
.container{
    padding: 20px;
}
button{
    border-radius:0px !important;
    margin-bottom: 14px;
}
a{
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}

.category-card{
    border-radius: 0px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    padding:10px 10px 03px 10px;
    color:white;
    margin-bottom: 10px;
}
.category-section h4{
    color: #74777E;
    border-bottom: 4px solid #E8ECEE;
    margin-bottom: 20px;
}
.card-inner-content {
    display: flex;
    flex-direction: row-reverse;
}
.card-inner-content p{
    margin-left: 12px;
    font-size: 15px;
    cursor: pointer;
}

.task-card{
    padding:10px;
    height:100%;
    border:1px solid lavender;
    background: #f1f4f4;
}
.pending-task h5{
    background: tomato;
    padding: 08px;
    color:white;
}
.progress-task h5{
    background: dodgerblue;
    padding: 08px;
    color:white;
}
.complete-task h5{
    background: forestgreen;
    padding: 08px;
    color:white;
}
.task-box{
    border-bottom:3px solid lavender;
    border-top:3px solid lavender;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    padding: 08px;
    background: white;
}
.task-box p{
    color:slategray;
    font-size: 13px;
    display: inline-block;
}
.task-box p i{
    margin-left: 15px;
}
.task-box h6{
    font-size: 15px;
}